<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Necrofy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Necrofy.Properties.Settings>
            <setting name="RecentProjects" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedRunSettings" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentRunSettingsName" serializeAs="String">
                <value />
            </setting>
            <setting name="DockLayout" serializeAs="String">
                <value />
            </setting>
            <setting name="hexPointers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnimateLevelEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowRespawnAreas" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTileBorders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useSystemEmulator" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emulator" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowSpriteGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowStartupWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Necrofy.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
